footer#footer
	.logo
		svg(viewBox="0 0 324.688 324.688")
			use(xlink:href='#svg_logo')
	.about
		h4 nosotros
		p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
		ul.redes
			li
				a(href='#')
					svg(viewBox='3.437 7.681 49.819 44.752')
						use(xlink:href='#svg_icon_google')
			li
				a(href='#')
					svg(viewBox='8.623 8 7.001 9.043')
						use(xlink:href='#svg_icon_pinterest')
			li
				a(href='#')
					svg(viewBox='19 22 29 23.999')
						use(xlink:href='#svg_icon_twitter')
			li
				a(href='#')
					svg(viewBox='25.396 17.68 15.208 32.638')
						use(xlink:href='#svg_icon_facebook')
	.category
		h4 categorias
		ul.cat
			li 
				a ENTRETENIMIENTO
			li 
				a ZAPATILLAS
			li 
				a SALUD
			li 
				a NUTRICION
			li 
				a CALENDARIO
			li 
				a MOTIVACION
			li 
				a NOTICIAS
			li 
				a VIDEOS
	.contact
		h4 CONTACTANOS
		.btn CONTACTO EDITOR
		.btn CONTACTO PUBLICITARIO

script(type='text/javascript',src='../../app/wp-content/themes/chilerunning/js/scripts.min.js')
script(type='text/javascript',src='../../app/wp-content/themes/chilerunning/js/bjqs-1.3.min.js')