section.slider_head
		article.cont_img_slider
			header
			main
				h2 5 COSAS QUE LOS CORREDORES DEBEMOS SABER ACERCA DE LAS RODILLAS
				ul
					li 
						p 
							i.fa.fa-pencil
							span Camilo Escalona
					li
						p 
							i.fa.fa-eye
							span 13000
					li.shared_hide
						p 
							i.fa.fa-share-alt
							span 300
			footer
				.more_read leer mas
				.nav_slider
					ul
						li
							i.fa.fa-circle
						li
							i.fa.fa-circle
						li
							i.fa.fa-circle
section.ad
		.open_close_ad 
			span.close Cerrar Publicidad
			span.open.hide Abrir Publicidad
			i.fa.fa-times
		.cont_ad_middle
			.ad-300x250
section.cont_post
		article.box_post
			a(href='#')
				main.post
					h3 5 COSAS QUE LOS CORREDORES DEBEMOS SABER ACERCA DE LAS RODILLAS
					.data
						i.fa.fa-calendar-o
						span 30/06/2014
						i.fa.fa-share-alt
						span 300
					.more leer mas
		article.box_post
			a(href='#')
				main.post
					h3 5 COSAS QUE LOS CORREDORES DEBEMOS SABER ACERCA DE LAS RODILLAS
					.data
						i.fa.fa-calendar-o
						span 30/06/2014
						i.fa.fa-share-alt
						span 300
					.more leer mas
		article.box_post
			a(href='#')
				main.post
					h3 5 COSAS QUE LOS CORREDORES DEBEMOS SABER ACERCA DE LAS RODILLAS
					.data
						i.fa.fa-calendar-o
						span 30/06/2014
						i.fa.fa-share-alt
						span 300
					.more leer mas
		article.box_post
			a(href='#')
				main.post
					h3 5 COSAS QUE LOS CORREDORES DEBEMOS SABER ACERCA DE LAS RODILLAS
					.data
						i.fa.fa-calendar-o
						span 30/06/2014
						i.fa.fa-share-alt
						span 300
					.more leer mas
		article.box_post
			a(href='#')
				main.post
					h3 5 COSAS QUE LOS CORREDORES DEBEMOS SABER ACERCA DE LAS RODILLAS
					.data
						i.fa.fa-calendar-o
						span 30/06/2014
						i.fa.fa-share-alt
						span 300
					.more leer mas
		article.box_post
			a(href='#')
				main.post
					h3 5 COSAS QUE LOS CORREDORES DEBEMOS SABER ACERCA DE LAS RODILLAS
					.data
						i.fa.fa-calendar-o
						span 30/06/2014
						i.fa.fa-share-alt
						span 300
					.more leer mas
section.calendar
		article
			.calen_destacado
				h3 MARATON RAPA NUI 2014
				.date
					i.fa.fa-calendar-o
					span junio 2014
				.place 
					i.fa.fa-map-marker
					span Rapa Nui
				.more leer mas
		aside
			ul
				li
					a(href='#')
						h3 CORRIDA NOCTURNA PDI
						.place 
							i.fa.fa-map-marker
							span Rapa Nui
						.date
							i.fa.fa-calendar-o
							span junio 2014
						.more leer mas
				li
					a(href='#')
						h3 CORRIDA NOCTURNA PDI
						.place 
							i.fa.fa-map-marker
							span Rapa Nui
						.date
							i.fa.fa-calendar-o
							span junio 2014
						.more leer mas
				li
					a(href='#')
						h3 CORRIDA NOCTURNA PDI
						.place 
							i.fa.fa-map-marker
							span Rapa Nui
						.date
							i.fa.fa-calendar-o
							span junio 2014
						.more leer mas
				li
					a(href='#')
						h3 CORRIDA NOCTURNA PDI
						.place 
							i.fa.fa-map-marker
							span Rapa Nui
						.date
							i.fa.fa-calendar-o
							span junio 2014
						.more leer mas