doctype html
html
	include header
	body
		include svg_graph
		main.cont_all
			header.header
				.logo
					svg(viewBox='0 0 324.688 324.688')
						use(xlink:href='#svg_logo')
				.ad_header
					.cont_ad(style='width:728px;height:90px;margin:0 auto;background-color:#BFDFFF;')
				.control_header
					.enter_menu
						svg(viewBox='0 0 80 70')
							use(xlink:href='#svg_icon_menu')
				nav
					ul
						li.entretenimiento
							a entretenimiento
						li.zapatillas
							a zapatillas
						li.salud
							a salud
						li.nutricion
							a nutricion
						li.calendario
							a calendario
						li.motivacion
							a motivacion
						li.noticias
							a noticias
						li.videos
							a videos
				.tools
					.search
						button(type='submite')
						input(type='text',placeholder='Buscar')
					.redes-sociales
						p Encuentranos:
						ul
							li
								a(href='#')
									svg(viewBox='3.437 7.681 49.819 44.752')
										use(xlink:href='#svg_icon_google')
							li
								a(href='#')
									svg(viewBox='8.623 8 7.001 9.043')
										use(xlink:href='#svg_icon_pinterest')
							li
								a(href='#')
									svg(viewBox='19 22 29 23.999')
										use(xlink:href='#svg_icon_twitter')
							li
								a(href='#')
									svg(viewBox='25.396 17.68 15.208 32.638')
										use(xlink:href='#svg_icon_facebook')
			include home
			include footer