section.inner_slider.slider_head
	article.cont_img_slider
		header
		main
			.icon_category
			h2 5 COSAS QUE LOS CORREDORES DEBEMOS SABER ACERCA DE LAS RODILLAS
			ul
				li 
					p 
						i.fa.fa-pencil
						span Camilo Escalona
				li
					p 
						i.fa.fa-eye
						span 13000
				li.shared_hide
					p 
						i.fa.fa-share-alt
						span 300
		footer
			.prev_post
				i.fa.fa-chevron-left
				span post anterior
			.next_post
				span post siguiente
				i.fa.fa-chevron-right
section.inner_cont
	.post_content
		.shared
			.btn_facebook 
				svg(viewBox='25.396 17.68 15.208 32.638')
					use(xlink:href='#svg_icon_facebook')
				span compartir con facebook
			.btn_twitter 
				svg(viewBox='19 22 29 23.999')
					use(xlink:href='#svg_icon_twitter')
				span compartir con twitter
			.btn_more
				i.fa.fa-plus
			.count_share 
				p.count 3
				p compartidos
			.back
				i.fa.fa-chevron-left
		p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
		p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
		img(src='http://local.mediatrends/_ChileRunners/htdocs/app/wp-content/themes/chilerunning/img/exam_sliderimg.jpg',width='100%')
		p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit .
		.tags
			i.fa.fa-tag
			span Ropa
			span Deporte
		.date 27 de Junio, 2014
	aside
		.weather el tiempo
		.ad_sidebar ad 300x250
section.calendar
		article
			.calen_destacado
				h3 MARATON RAPA NUI 2014
				.date
					i.fa.fa-calendar-o
					span junio 2014
				.place 
					i.fa.fa-map-marker
					span Rapa Nui
				.more leer mas
		aside
			ul
				li
					a(href='#')
						h3 CORRIDA NOCTURNA PDI
						.place 
							i.fa.fa-map-marker
							span Rapa Nui
						.date
							i.fa.fa-calendar-o
							span junio 2014
						.more leer mas
				li
					a(href='#')
						h3 CORRIDA NOCTURNA PDI
						.place 
							i.fa.fa-map-marker
							span Rapa Nui
						.date
							i.fa.fa-calendar-o
							span junio 2014
						.more leer mas
				li
					a(href='#')
						h3 CORRIDA NOCTURNA PDI
						.place 
							i.fa.fa-map-marker
							span Rapa Nui
						.date
							i.fa.fa-calendar-o
							span junio 2014
						.more leer mas
				li
					a(href='#')
						h3 CORRIDA NOCTURNA PDI
						.place 
							i.fa.fa-map-marker
							span Rapa Nui
						.date
							i.fa.fa-calendar-o
							span junio 2014
						.more leer ma