svg.hide(viewBox="0 0 324.688 324.688")
	g#svg_logo
		path(d="M159.096,161.445c4.042-1.757,8.196-4.685,11.083-9.253c2.43-3.867,4.278-9.016,4.278-15.693c0-9.489-3.233-18.041-10.396-23.666c-4.738-3.75-13.055-6.202-26.454-6.202H83.025v0.012c-0.404-0.012-0.722,0.005-1.134,0.005c-27.954,0-44.881,22.657-44.881,44.799c0,23.425,18.248,45.093,45.045,45.093c20.677,0,38.235-13.587,43.2-34.083h-22.867c-1.387,3.047-6.933,14.642-20.564,14.642c-14.208,0-22.984-12.65-22.984-25.767c0-12.303,8.199-25.305,22.868-25.305c11.785,0,18.248,8.668,20.68,15.112h22.867c-0.772-4.546-2.926-9.923-6.411-15.07h20.729c3.002,0,6.467,0.828,8.894,2.342c2.887,1.874,5.08,5.506,5.08,10.076c0,4.805-2.193,8.909-4.85,10.662c-2.887,1.873-7.622,2.342-13.163,2.342c-1.161,0-2.313,0-3.582,0l24.035,44.949h22.526L159.096,161.445z")
		g
			path(d="M60.917,228.033c-1.9-1.794-4.274-3.327-6.951-3.327c-3.541,0-6.434,2.848-6.434,6.436c0,3.633,3.065,6.435,6.607,6.435c2.72,0,4.878-1.182,6.778-3.063l-0.344,12.347c-1.9,0.919-6.305,1.312-8.42,1.312c-9.284,0-16.538-7.31-16.538-16.723c0-9.63,7.47-17.335,17.012-17.335c2.677,0,5.441,0.481,7.946,1.355L60.917,228.033z")
			path(d="M68.349,214.637h11.399v11.119h7.253v-11.119h11.401v33.01H87.001v-11.471h-7.253v11.471H68.349V214.637z")
			path(d="M107.042,214.637h11.832v33.01h-11.832V214.637z")
			path(d="M127.6,214.637h11.832v22.416h9.932v10.594H127.6V214.637z")
			path(d="M155.671,214.637h21.893v9.02h-9.974v3.152h9.11v8.579h-9.11v3.239h10.322v9.02h-22.241V214.637z")
			path(d="M36.779,255.695h14.293c7.34,0,13.558,3.153,13.558,11.469c0,4.99-1.9,7.092-6.305,8.582v0.263c0.606,0.479,1.339,1.008,1.988,1.968l7.081,10.728H53.749l-5.181-10.595h-0.216v10.595H36.779V255.695z M48.352,270.316h0.82c1.942,0,3.886-0.306,3.886-2.758c0-2.54-1.77-2.846-3.799-2.846h-0.907V270.316z")
			path(d="M102.677,255.695v19.524c0,9.631-5.958,14.009-15.07,14.009c-9.11,0-15.069-4.378-15.069-14.009v-19.524h11.832v18.388c0,2.582,0.087,4.857,3.237,4.857c3.153,0,3.241-2.275,3.241-4.857v-18.388H102.677z")
			path(d="M110.973,255.695h11.356l10.623,18.297h0.346c-0.476-2.757-0.993-5.604-0.993-8.405v-9.892h11.311v33.009h-11.311l-10.408-17.336h-0.345c0.388,2.274,0.734,4.421,0.734,6.608v10.728h-11.314V255.695z")
			path(d="M151.871,255.695h11.355l10.625,18.297h0.345c-0.475-2.757-0.991-5.604-0.991-8.405v-9.892h11.312v33.009h-11.312l-10.41-17.336h-0.344c0.387,2.274,0.734,4.421,0.734,6.608v10.728h-11.314V255.695z")
			path(d="M193.028,255.695h11.831v33.009h-11.831V255.695z")
			path(d="M213.411,255.695h11.358l10.62,18.297h0.346c-0.476-2.757-0.995-5.604-0.995-8.405v-9.892h11.315v33.009H234.74l-10.403-17.336h-0.346c0.39,2.274,0.733,4.421,0.733,6.608v10.728h-11.313V255.695z")
			path(d="M288.896,269.265c-0.087,5.386-0.087,9.896-3.928,14.098c-3.454,3.809-8.767,5.866-13.818,5.866c-9.933,0-17.962-6.216-17.962-16.811c0-10.768,7.814-17.248,18.047-17.248c5.658,0,13.428,2.846,15.977,8.491l-11.053,4.117c-0.908-1.664-2.59-2.541-4.491-2.541c-4.229,0-6.563,3.679-6.563,7.663c0,3.632,2.246,7.047,6.09,7.047c1.857,0,4.23-0.875,4.793-2.89h-5.354v-7.793H288.896z")

			path(d="M0,0v324.688h324.688V0H0z M305.268,305.268H19.421V19.421h285.847V305.268z")
svg.hide(viewBox="0 0 80 70")
	g#svg_icon_menu
		rect(width="80" height="15")
		rect(y="55" width="80" height="15")
		rect(y="28" width="80" height="15")