.inner_contact{
	@include gridle_clear(both);
	@include gridle_parent();
	@include gridle(12);
	.post_content{
		@include gridle(8);
		@include gridle(12, phoness);
		@include gridle(12, tabletss);
		@include gridle(8, desktopess);
		padding:{top:0;bottom:30px;}
	}
	aside{
		@include gridle(4);
		.weather{
			@include gridle(12);
			#wpc-weather{
				&.wpc-26{
					font:{family:$font_ubuntu;}
					color:$pri_color;
					.now{
						@include gridle(3);
					}
					.short_condition{
						@include gridle(3);
					}
					.today{
						@include gridle(6);
						.day{
							@extend .hide;
						}
					}
				}
			}
		}
	}
}