.slider_head{
	@extend .header_cont;
	height: 440px;
	.cont_img_slider{
		@extend .text-center;
		height: 260px;
		width:100%;
		padding-top:180px; 
		background: {size:cover;image:url(#{$url_path}exam_sliderimg.jpg);}
		h2{
			font:{family:$font_ubuntu;weight:300;size:30px}
			color:#fff;
			max-width: 628px;
			margin:0 auto;
		}
		ul{
			font:{family:$font_ubuntu;weight:700;}
			color:$pri_color;
			@extend .inline;
		}
		main{
			li{
				padding:0 10px;
				font:{size:20px;}
				i{
					color:#fff;
					margin-right:5px; 
				}
			}
		}
		footer{
			.more_read{
				background: {color:#fff;}
				@include border-radius(5px);
				padding:10px 0;
				color:$pri_color;
				font: {family:$font_ubuntu;weight:300;size:12px}
				text:{transform:uppercase;}
				@extend .text-center;
				margin:0 auto;
				max-width:143px;
				&:hover{
					background: {color:$sec_color;}
					color:#fff;
				}
			}
			li{
				padding:0 4px;
				margin-top:20px;
				i{
					font:{size:11px;}
					&:active{
						color:#fff;
					}
					&:hover{
						color:$sec_color;
					}
				}
			}
		}
	}
}
.ad{
	@include gridle_clear(both);
	@include gridle_hide(sm);
	width:100%;
	height: auto;
	background:{color:$pri_color;image:url(#{$url_path}bg_ads.gif);}
	.open_close_ad{
		position: absolute;
		right:20px;
		margin-top:-20px;
		color:#fff;
		width:130px;
		height:20px;
		font:{family:$font_ubuntu;size:12px;weight:300;}
		cursor:pointer;
		i{
			margin-left:5px;
		}
	}
	.cont_ad_middle{
		width:100%;
		padding:50px 0;
		@include gridle_clear(both);
		.ad-300x250{
			width:300px;
			height: 250px;
			margin: 0 auto;
			background:{color:$sec_color;}
		}
		.ad-728x90{
			width:728px;
			height: 90px;
			margin: 0 auto;
			background:{color:$sec_color;}
		}
	}
}
.cont_post{
	@include gridle(12);
	@include gridle_parent();
	.box_post{
		@include gridle(12, xs);
		@include gridle(6, sm);
		@include gridle(4, md);
		@include gridle_parent();
		height:241px;
		background:{size:cover;}
		a{
			display: block;
			width:100%;
			height: 100%;
			.post{
				@include gridle(5);
				background:{color:#fff;}
				padding-bottom: 10px;
				h3{
					font:{family:$font_ubuntu;weight:700;size:12px;}
					color:$pri_color;
				}
				.data{
					i{
						color:$pri_color;
						margin-right: 5px;
					}
					span{
						font:{family:$font_ubuntu;weight:300;style:italic;size:12px;}
						color:$text_color;
						margin-right: 10px;
					}
				}
				.more{
					@extend .text-right;
					font:{size:12px;weight:300;family:$font_ubuntu;}
					text:{transform:uppercase;}
					margin: 5px 0 0;
					color:$pri_color;
				}
			}
			&:hover{
				h3{
					color:$sec_color;
				}
				.data{
					color:$sec_color;
					i{
						color:$sec_color;
					}
				}
				.more{
					color:$sec_color;
				}
			}
		}
	}
}
.calendar{
	@extend .cont_post;
	article{
		@include gridle(7);
		@include gridle_parent();
		background:{image:url(#{$url_path}exam_bg_calendar.jpg);size:cover;}
		height:385px;
		.calen_destacado{
			@include gridle(6);
			background:{color:#fff;}
			height: 125px;
			h3{
				font:{size:20px;family:$font_ubuntu;weight:700;}
				color:$pri_color;
				@include gridle(6);
				@include gridle_parent();
			}
			.place{
				@include gridle(7);
				@include gridle_parent();
				i{
					color:$pri_color;
					margin-right: 5px;
				}
				span{
					color:$text_color;
					font:{family:$font_ubuntu;size:12px;style:italic;weight:300;}
				}
			}
			.date{
				@include gridle(5);
				@include gridle_push(1);
				@include gridle_parent();
				@include gridle_clear(right);
				padding-top: 25px;
				i{
					font:{size:28px;}
					color:$pri_color;
					margin-right:5px;
				}
				span{
					font:{size:20px;family:$font_ubuntu;weight:300;style:italic;}
					text:{transform:uppercase}
					color: $pri_color;
				}
			}
			.more{
				@include gridle(5);
				@extend .text-right;
				font:{size:12px;weight:300;family:$font_ubuntu;}
				text:{transform:uppercase;}
				color:$pri_color;
			}
		}
	}
	aside{
		@include gridle(5);
		@include gridle_parent();
		height:385px;
		overflow: auto;
		background:{color:$pri_color;}
		ul{
			@extend .margins;
			padding:0 2px 2px;
			list:{style:none;}
			li{
				background:{color:#fff;}
				height: 106px;
				padding:20px 30px 0;
				margin-bottom: 2px;
				a{
					display: block;
					width:100%;
					height:100%;
					text:{decoration:none;}
					h3{
						@extend .margins;
						@extend .paddings;
						font:{size:20px;family:$font_ubuntu;weight:700;}
						color:$pri_color;
					}
					.place{
						margin:5px 0;
						i{
							color:$pri_color;
							margin-right: 5px;
						}
						span{
							color:$text_color;
							font:{family:$font_ubuntu;size:12px;style:italic;weight:300;}
						}
					}
					.date{
						i{
							font:{size:28px;}
							color:$pri_color;
							margin-right:5px;
						}
						span{
							font:{size:20px;family:$font_ubuntu;weight:300;style:italic;}
							text:{transform:uppercase}
							color: $pri_color;
						}
					}
					.more{
						@extend .text-right;
						font:{size:12px;weight:300;family:$font_ubuntu;}
						text:{transform:uppercase;}
						color:$pri_color;
						margin-top:-5px;
					}
					&:hover{
						h3{
							color:$sec_color;
						}
						.date{
							i{color:$sec_color;}
							span{color:$sec_color;}
						}
						.place{
							i{
								color:$sec_color;
							}
						}
						.more{
							color:$sec_color;
						}
					}
				}
			}
		}
	}
}