.slider_head{
	@extend .header_cont;
	height: 440px;
	@include gridle_state(phoness){
		height:640px;
	}
	#slider_top{
		.cont_img_slider{
			@extend .text-center;
			width:100%;
			@include gridle_state(phoness){
				height: 640px !important;
			}
			.bjqs-slide{
				height: 260px !important;
				padding-top:180px;
				background: {size:cover;}
				list:{style:none;}
				@extend .margins;
				@include gridle_state(phoness){
					height:410px !important;
					padding-top:230px;
					background: {position:center;}
				}
				h2{
					font:{family:$font_ubuntu;weight:300;size:30px}
					color:#fff;
					max-width: 628px;
					margin:0 auto;
					text:{transform:uppercase;}
				}
				ul{
					font:{family:$font_ubuntu;weight:700;}
					color:$pri_color;
					@extend .inline;
					a{
						color:$pri_color;
						text:{decoration:none;}
					}
					@include gridle_state(phoness){
						.shared_hide{
							display: none;
						}
					}
				}
				main{
					li{
						padding:0 10px;
						font:{size:20px;}
						i{
							color:#fff;
							margin-right:5px; 
						}
					}
				}
				.more_read{
					background: {color:#fff;}
					@include border-radius(5px);
					@extend .text-center;
					max-width:143px;
					margin:0 auto;
					a{
						display: block;
						width:100%;
						height:100%;
						padding:10px 0;
						color:$pri_color;
						font: {family:$font_ubuntu;weight:300;size:12px}
						text:{transform:uppercase;decoration:none;}
						&:hover{
							color:#fff;
						}
					}
					&:hover{
						background: {color:$sec_color;}
						color:#fff;
					}
				}
			}
		}
		.bjqs-markers{
			margin: {top:-50px;}
			position:relative;
			li{
				a{
					@include border-radius(50%);
					background: {color:$pri_color;}
					margin: {left:5px;right:5px;}
					padding: 5px 5.6px;
					color:$pri_color;
					font:{family:$font_ubuntu;size:1px;}
					text:{decoration:none;}
					&:hover{
						color:$sec_color;
						background: {color:$sec_color;}
					}
				}
				
			}
		}
	}
}
.ad{
	@include gridle_clear(both);
	@include gridle_hide(phoness);
	width:100%;
	height: auto;
	background:{color:$pri_color;image:url(#{$url_path}bg_ads.gif);}
	.open_close_ad{
		position: absolute;
		right:20px;
		margin-top:-20px;
		color:#fff;
		width:130px;
		height:20px;
		font:{family:$font_ubuntu;size:12px;weight:300;}
		cursor:pointer;
		i{
			margin-left:5px;
		}
	}
	.cont_ad_middle{
		width:100%;
		padding:50px 0;
		@include gridle_clear(both);
		.ad-300x250{
			width:300px;
			height: 250px;
			margin: 0 auto;
			background:{color:$sec_color;}
		}
		.ad-728x90{
			width:728px;
			height: 90px;
			margin: 0 auto;
			background:{color:$sec_color;}
		}
	}
}
.cont_post{
	@include gridle(12);
	@include gridle_parent();
	.box_post{
		@include gridle(4);
		@include gridle(12, phoness);
		@include gridle(12, tabletss);
		@include gridle(4, landscapess);
		@include gridle_parent();
		height:241px;
		background:{size:cover;}
		a{
			display: block;
			width:100%;
			height: 100%;
			.post{
				@include gridle(5);
				@include gridle(6, phoness);
				@include gridle(6, tabletss);
				background:{color:#fff;}
				padding-bottom: 10px;
				h3{
					font:{family:$font_ubuntu;weight:700;size:12px;}
					color:$pri_color;
					text:{transform:uppercase;}
				}
				.data{
					i{
						color:$pri_color;
						margin-right: 5px;
					}
					span{
						font:{family:$font_ubuntu;weight:300;style:italic;size:12px;}
						color:$text_color;
						margin-right: 10px;
					}
				}
				.more{
					@extend .text-right;
					font:{size:12px;weight:300;family:$font_ubuntu;}
					text:{transform:uppercase;}
					margin: 5px 0 0;
					color:$pri_color;
				}
			}
			&:hover{
				h3{
					color:$sec_color;
				}
				.data{
					color:$sec_color;
					i{
						color:$sec_color;
					}
				}
				.more{
					color:$sec_color;
				}
			}
		}
	}
	&.cont_author{
		margin-top:-120px;
		background: {color:$pri_color;}
		.cont_author{
			@extend .text-center;
			padding: 140px 0px 30px;
			background:{color:$sec_color;}
			font:{family:$font_ubuntu;size:25px;weight:700;}
			color:#fff;
			h2{
				display:inline-block;
				@extend .margins;
			}
			.img_author{
				img{
					@include border-radius(50%);
				}
			}
			p{
				&.nombre{
					font:{size:20px;}
				}
				display:inline-block;
				font:{weight:300;size:14px;}
				text:{transform:capitalize;}
				padding:{left:10px;}
			}
		}
	}
}
.calendar{
	@extend .cont_post;
	.calendar_destacado{
		@include gridle(7);
		@include gridle(12, phoness);
		@include gridle(12, tabletss);
		@include gridle(7, landscapess);
		@include gridle_parent();
		background:{image:url(#{$url_path}exam_bg_calendar.jpg);size:cover;}
		height:385px;
		@include gridle_state(phoness){
			height:280px;
			background: {position:center;}
		}
		.calen_destacado{
			@include gridle(6);
			@include gridle(12, phoness);
			background:{color:#fff;}
			height: 125px;
			@include gridle_state(phoness){
				background: {color:$pri_color;}
				h3{
					color:#fff !important;
				}
				i{
					color:#fff !important;
				}
				span{
					color:#fff !important;
				}
				.more{
					color:#fff !important;
				}
			}
			h3{
				font:{size:20px;family:$font_ubuntu;weight:700;}
				color:$pri_color;
				@include gridle(6);
				@include gridle_parent();
			}
			.place{
				@include gridle(7);
				@include gridle_parent();
				i{
					color:$pri_color;
					margin-right: 5px;
				}
				span{
					color:$text_color;
					font:{family:$font_ubuntu;size:12px;style:italic;weight:300;}
				}
			}
			.date{
				@include gridle(5);
				@include gridle_push(1);
				@include gridle_parent();
				@include gridle_clear(right);
				padding-top: 25px;
				@extend .text-right;
				i{
					font:{size:21px;}
					color:$pri_color;
					margin-right:5px;
				}
				span{
					font:{size:0.9rem;family:$font_ubuntu;weight:300;style:italic;}
					text:{transform:uppercase}
					color: $pri_color;
				}
			}
			.more{
				@include gridle(5);
				@extend .text-right;
				font:{size:12px;weight:300;family:$font_ubuntu;}
				text:{transform:uppercase;}
				color:$pri_color;
			}
		}
	}
	aside{
		@include gridle(5);
		@include gridle_hide(phoness);
		@include gridle_hide(tabletss);
		@include gridle_show(landscapess);
		@include gridle_parent();
		height:385px;
		overflow: auto;
		background:{color:$pri_color;}
		ul{
			@extend .margins;
			padding:0 2px 2px;
			list:{style:none;}
			li{
				background:{color:#fff;}
				height: 106px;
				padding:20px 30px 0;
				margin-bottom: 2px;
				a{
					display: block;
					width:100%;
					height:100%;
					text:{decoration:none;}
					h3{
						@extend .margins;
						@extend .paddings;
						font:{size:20px;family:$font_ubuntu;weight:700;}
						color:$pri_color;
						text:{transform:uppercase;}
					}
					.place{
						margin:5px 0;
						i{
							color:$pri_color;
							margin-right: 5px;
						}
						span{
							color:$text_color;
							font:{family:$font_ubuntu;size:12px;style:italic;weight:300;}
						}
					}
					.date{
						i{
							font:{size:28px;}
							color:$pri_color;
							margin-right:5px;
						}
						span{
							font:{size:20px;family:$font_ubuntu;weight:300;style:italic;}
							text:{transform:uppercase}
							color: $pri_color;
						}
					}
					.more{
						@extend .text-right;
						font:{size:12px;weight:300;family:$font_ubuntu;}
						text:{transform:uppercase;}
						color:$pri_color;
						margin-top:-5px;
					}
					&:hover{
						h3{
							color:$sec_color;
						}
						.date{
							i{color:$sec_color;}
							span{color:$sec_color;}
						}
						.place{
							i{
								color:$sec_color;
							}
						}
						.more{
							color:$sec_color;
						}
					}
				}
			}
		}
	}
}