.inner_slider{
	.cont_img_slider_inner{
		@extend .text-center;
		height: 260px;
		width:100%;
		padding:{top:180px;left:0;right:0;bottom:0;} 
		background: {size:cover;image:url(#{$url_path}exam_sliderimg.jpg);}
		list:{style:none;}
		@extend .margins;
		@include gridle_state(phoness){
			height:410px !important;
			padding-top:230px;
			background: {position:center;}
		}
		h2{
			font:{family:$font_ubuntu;weight:300;size:30px}
			color:#fff;
			max-width: 628px;
			margin:0 auto;
			text:{transform:uppercase;}
		}
		ul{
			font:{family:$font_ubuntu;weight:700;}
			color:$pri_color;
			@extend .inline;
			a{
				color:$pri_color;
				text:{decoration:none;}
			}
			@include gridle_state(phoness) {
				.shared_hide{
					display: none;
				}
			}
		}
		main{
			li{
				padding:0 10px;
				font:{size:20px;}
				i{
					color:#fff;
					margin-right:5px; 
				}
				span{
					&.count_share{
						a{
							&.addthis_button_expanded{
								color:$pri_color;
								font:{size:20px;}
								background:{image:none;};
								@extend .margins;
								@extend .paddings;
								width:auto;
								height: auto;
								line-height: 0;
							}
							&.addthis_button_compact{
								@extend .hide;
							}
						}
					}
				}
			}
		}
		overflow: hidden;
		position:relative;
		.icon_category{
			@include border-radius(5px);
			background:{color:$sec_color;}
			width:48px;
			height:48px;
			margin:-10px auto 0;
		}
	}
	footer{
		@include gridle(12);
		color:#fff;
		font:{size:15px;family:$font_ubuntu;weight:300;}
		//padding:{top:40px;}
		text:{transform:uppercase;}
		position: absolute;
		bottom:20px;
		left:0;
		right:0;
		margin: 0 auto;
		.prev_post{
			display: table;
			cursor: pointer;
			@include gridle_float(left);
			a{
				color:#fff;
				text:{decoration:none;}
				i{
					font:{size:25px;}
					display:table-cell;
					vertical-align: middle;
				}
				span{
					padding:{right:4px;left:4px;}
					display:table-cell;
					vertical-align: middle;
				}
			}
		}
		.next_post{
			@extend .prev_post;
			@include gridle_float(right);
		}
	}
}
.inner_cont{
	@include gridle_clear(both);
	@include gridle_parent();
	@include gridle(12);
	.post_content{
		@include gridle(8);
		@include gridle(12, phoness);
		@include gridle(12, tabletss);
		@include gridle(8, desktopess);
		padding:{top:0;bottom:30px;}
		.shared{
			@include gridle(12);
			@include gridle_parent();
			padding:{top:20px;bottom:10px;}
			.addthis_toolbox{
				@include gridle_float(left);
				a{
					text:{decoration:none;}
					&.addthis_button_facebook{
						@extend .text-left;
						background:{color:#3B5998;}
						@include border-radius(5px);
						padding:{top:10px;bottom:10px;}
						@include gridle_float(left);
						width:211px;
						font:{size:12px;family:$font_ubuntu;weight:300;}
						text:{transform:uppercase;}
						color:#fff;
						margin:{right:10px;} 
						span{
							display: block;
							padding:{top:3px;}
						}
						@include gridle_state(phoness){
							text-align: center;
							padding-bottom:7px;
							width: 40px;
							span{
								display: none;
							}
						}
					}
					&.addthis_button_twitter{
						@extend .addthis_button_facebook;
						background:{color:#1DCAFF;}
					}
					&.addthis_button_compact{
						@include gridle_float(left);
						@include border-radius(5px);
						background:{color:$pri_color;}
						color:#fff;
						padding:12px;
						display: table;
						i{
							display: table-cell;
							vertical-align: middle;
						}
					}
				}
			}
			svg{
				@include gridle_float(left);
				height: 20px;
				width: 20px;
				padding:{right:10px;}
				margin:{left:10px;}
				use{
					fill:#fff;
				}
				@include gridle_state(phoness){
					float: none;
				}
			}
			.count_share{
				@include gridle_float(left);
				@extend .text-center;
				padding:{left:10px;}
				p{
					font:{family:$font_ubuntu;size:8px;weight:300;}
					@extend .text-center;
					color:$text_color;
					text:{transform:uppercase;}
					@extend .paddings;
					@extend .margins;
					line-height:0 !important;
					&.count{
						a{
							&.addthis_button_expanded{
								color:$sec_color;
								font:{size:34px;weight:700;}
								background:{image:none;};
								@extend .margins;
							}
							&.addthis_button_compact{
								@extend .hide;
							}
						}
					}
				}
			}
			.back{
				@include gridle_float(right);
				@include border-radius(5px);
				background:{color:$pri_color;}
				color:#fff;
				padding:12px;
				display: table;
				i{
					display: table-cell;
					vertical-align: middle;
				}
				
			}
		}
		p{
			color:$text_color;
			font:{family:$font_ubuntu;size:16px;weight:300;}
			text:{align:justify;}
			line:{height:21px;}
			img{
				@extend .responsive-img;
			}
		}
		.tags{
			padding:5px;
			@include border-radius(5px);
			background:{color:$pri_color;}
			color:#fff;
			font:{family:$font_ubuntu;size:15px;weight:300;style:italic;}
			@include gridle_float(left);
			display: table;
			i{
				display: table-cell;
				vertical-align: middle;
				padding:{left:5px;right:10px;}
			}
			a{
				@extend i;
				color:#fff;
				text:{decoration:underline;}
			}
		}
		.date{
			padding:{top:5px;bottom:3px;left:5px;right:5px;}
			@include border-radius(5px);
			background:{color:$pri_color;}
			color:#fff;
			font:{family:$font_ubuntu;size:15px;weight:300;style:italic;}
			text:{transform:capitalize;}
			@include gridle_float(right);
			display: table;
		}
	}
	aside{
		@include gridle(4);
		.weather{
			@include gridle(12);
			#wpc-weather{
				&.wpc-26{
					font:{family:$font_ubuntu;}
					color:$pri_color;
					.now{
						@include gridle(12);
						.time_symbol{
							@include gridle(6);
							svg{
								g{
									fill:$pri_color;
								}
							}
						}
						.time_temperature{
							@include gridle(6);
							margin:{top:45px;}
							font:{size:55px;}
							@extend .text-right;
						}
						.location_name{
							@extend .hide;
						}
					}
					.short_condition{
						@include gridle(6);
						text:{transform:capitalize;}
					}
					.today{
						@include gridle(6);
						.day{
							@extend .hide;
						}
					}
				}
			}
		}
	}
}