//Menu inline
$inline:inline-block;

//Text Align
$text-center:center;
$text-left:left;
$text-right:right;

//visiblitity
$hidden:hidden;
$visible:visible;
$hide:none;

//Paths
$url_path:'../img/';

//Fonts
$font_ubuntu:'Ubuntu', 'sans-serif';

//Color
//$pri_color:#DE0283;
$pri_color:#2A378F;
$sec_color:#6AD81C;
$text_color:#A5A5B7;

//hightligt
$padding: 0.5rem;

//ads bg color
$ad_color:#333;

//BP
$bp-small : 640px;
$bp-med : 641px;
$bp-large : 1024px;
$bp-xl : 1280px;